.container{
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding : 20px;
  background : white;
}

.msgs{
  overflow-y: scroll;
  height : calc(100vh - 160px);
}


.noChat{
  height: 100%;
  display : flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.bottomContainer{
  padding-right : 90px;
  position : relative;
  margin-top : 10px;
}
.input{
  width : 100%;
  height : 40px;
  border-radius : 5px;
  border: 1px solid #839AA8;
  padding : 5px 10px;
  font-size : 15px;
}

.sendIcon{
  position : absolute !important;
  right : 0px;
  bottom : 0px;
  float : right;
  padding : 0px;
  border-radius : 5px;
  height : 100%;
  
}

.icon{
  width : 25px;
  height : 25px;
}