.container{
  display : flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D3EBCD;
  padding : 0px 20px;
  color : #635666;
  height : 70px;
}

.logo{
  font-size : 25px;
  font-weight : 500;
}

.logoImg{
  width : 50px;
  height : 50px;
}
.logoName{
  font-size : 25px;
  margin-left : 20px;
  font-weight : 600;
}

.rightContainer{
  display : flex;
  justify-content: center;
  align-items: center;
}

.avatar{
  margin-right : 10px;
}

.logoutBtn{
  margin-left : 20px;
  color : #635666;
}
.logoutBtn:hover{
  background-color : #AEDBCE;
}